<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1> {{username}}'s Channels </h1>
  {% for ch in allch %}
  <img src={{ch.thumb|safe}} style="width:60px;height:60px;vertical-align:middle"> <a href={{ch.cid|safe}}>{{ch.ctitle}}</a> 
  <p></p>
  {% endfor %}

  <!-- <h1>{{title}}</h1>
  {% for thumb in thumbs %}
  <img src={{thumb|safe}}>
  {% endfor %}
  <div> Views: {{views}} </div>
  <div> Likes: {{likes}} </div>
  <div> Subs: {{subs}} </div>
  <p> {{desc|safe}} </p>
  {% for vid in top %}
  <a href={{vid.vid|safe}}>{{vid.title}}</a>
  {% endfor %} -->

</body>


</html>
<!-- {% for com in comments %}
    <b>{{com.name}}</b> {{com.date}} Likes: {{com.likes}}
    <div>{{com.text|safe}}</div>
    {% endfor %} -->