<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>{{title}}</h1>
  {% for thumb in thumbs %}
  <img src={{thumb|safe}}>
  {% endfor %}
  <p></p>
  <div> <img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/eye-24-128.png" alt="Views" style="width:40px;height:40px;vertical-align:middle"> {{views}} </div>
  <div> <img src="https://cdn3.iconfinder.com/data/icons/medical-icons-4/100/heart-256.png" alt="Likes" style="width:40px;height:40px;vertical-align:middle"> {{likes}} </div>
  <div> <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/20-rss-256.png" alt="Subscribes" style="width:40px;height:36px;vertical-align:middle"> {{subs}} </div>
  <p> {{desc|safe}} </p>
  <div> <img src="https://image.freepik.com/free-icon/button-play-radio-or-video_318-30277.jpg" style="width:40px;height:40px;vertical-align:middle"> Videos: </div>
  {% for vid in top %}
  <a href={{vid.vid|safe}}>{{vid.title}}</a> <p></p>
  {% endfor %}

</body>


</html>
<!-- {% for com in comments %}
    <b>{{com.name}}</b> {{com.date}} Likes: {{com.likes}}
    <div>{{com.text|safe}}</div>
    {% endfor %} -->